.ewd-ufaq-hidden {
  display:none;
}

.ewd-ufaq-clear {
  clear:both;
}


.ewd-ufaq-post-margin{

  margin-left: 10px;
  text-decoration: none;
}

.ewd-ufaq-post-margin-symbol{


    text-decoration: none;
}

/*.ufaq-faq-title {
  cursor:pointer;
}*/