.ewd-ufaq-hidden {
  display:none;
}

.ewd-ufaq-clear {
  clear:both;
}


.ewd-ufaq-post-margin{
  margin-left: 10px;
  text-decoration: none;
}

.ewd-ufaq-post-margin-symbol{
    text-decoration: none;
}

.ufaq-permalink {
  margin-left: 10px;
}
.ufaq-permalink-image {
	background: url("../images/insert_link.png");
	height: 21px;
	width: 30px;
	margin-top: -25px;
	margin-left: 70px;
}

.ewd-ufaq-author-date {
  margin: 10px;
}

.ewd-ufaq-author {
  font-weight: 600;
}
.ewd-ufaq-date {
  font-weight: 600;
}
.ufaq-faq-categories, .ufaq-faq-tags{
  margin-left:10px;
}

.ufaq {}
/*.ufaq-faq-title {
  cursor:pointer;
}*/